.defaultText { font-family:Helvetica,Arial; font-size:10pt; }
.tableEvenRow { font-family:Helvetica,Arial; font-size:9pt; background-color:#E6E6E6; }
.tableOddRow { font-family:Helvetica,Arial; font-size:9pt; }
.boldText { font-family:Helvetica,Arial; font-size:10pt; font-weight:bold; }